
  
  .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }


  body{
    color: whitesmoke;
    background-color: #D6D7D9;
  }

  a {
    color: rgba(31, 31, 31, 0.692);
    margin-top: 24px;
    padding: 3px 20px 3px 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
    background: rgba(18, 157, 3, 0.73);
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 8px;
    border-radius: 10px;
    transition: 0.2s;
    border: 1px solid transparent;
  }
  
  a:hover {
    border-color: rgba(42, 42, 42, 0.623);
    background: linear-gradient(
      to bottom,
      rgba(54, 255, 88, 0.704),
      rgba(0, 156, 78, 0.859),
      rgba(22, 100, 0, 0.69)
    );
    box-shadow: 0 6px rgba(0, 87, 12, 0.75);
    transform: translateY(-6px);
  }
  
  a:active {
    transform: translateY(2px);
    box-shadow: none;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  .button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  .button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  
  